$dark: #414148;
$white: #ffffff;


.wrapper {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

.logo
{
    background: white;
}

.banner {
    padding: 5em 0;
    .logo {
        float: left;
    }
    h1 {
        color: $dark;
        text-align: left;
        display: inline;
        float: right;
        margin: 0;
        font-size: 10em;
    }
}
